<div class="container_right-bottom">
  <div class="bottom_item">
    <img src="../../assets/image/lightbulb-on-outline.svg" alt="" />
    <h1 class="mg-10">Clear & Usable user flows</h1>
    <span class="mg-10">Let’s boost yout marketplace</span>
  </div>
  <div class="bottom_item">
    <img src="../../assets/image/auto-fix.svg" alt="" />
    <h1 class="mg-10">Fine & Styled components</h1>
    <span class="mg-10">Speed up with Setproduct templates</span>
  </div>
  <div class="bottom_item">
    <img src="../../assets/image/Vector-2.svg" alt="" />
    <h1 class="mg-10">Customizable & Reusable</h1>
    <span class="mg-10">Take our UX patterns and rebuild</span>
  </div>
</div>
